<div class="play-field" style="background-color: yellow">
    <div class="left-column">
        <div class="west-home">
                        <div class="cards-row placeholder-w">
                            <div *ngFor="let card of cardsOfWest let i = index;" class="cards-pile card-canvas">
                                <img id="card-{{card.id}}" [src]="card.imageUrl" alt="card" class="card-format" [ngClass]="{'move-card': card.used}"
                                     style="--offsetx: {{card.x}}px; --offsety: {{card.y}}px;">
                            </div>
                        </div>
        </div>
    </div>
    <div class="middle-column">
        <div class="north-home">
                        <div class="cards-row placeholder-n">
                            <div *ngFor="let card of cardsOfNorth let i = index;" class="cards-pile card-canvas">
                                <img id="card-{{card.id}}" [src]="card.imageUrl" alt="card" class="card-format" [ngClass]="{'move-card': card.used}"
                                     style="--offsetx: {{card.x}}px; --offsety: {{card.y}}px;">
                            </div>
                        </div>
        </div>
        <div class="center-area">
            <div class="card-format north-play" style="background-color: indigo;">
                                <div class="card-placeholder north">
                                    <div class="way">N</div>
                                </div>
            </div>
            <div style="display:flex; justify-content: space-between;">
                <div class="card-format">
                                    <div class="card-placeholder west">
                                        <div class="way">W</div>
                                    </div>
                </div>
                <div class="card-format">
                                    <div class="card-placeholder east">
                                        <div class="way">O</div>
                                    </div>
                </div>
            </div>
            <div class="card-format south-play">
                                <div class="card-placeholder south">
                                    <div class="way">Z</div>
                                </div>
            </div>
        </div>
    </div>
    <div class="left-column">
        <div class="west-home">
                        <div class="cards-row placeholder-e">
                            <div *ngFor="let card of cardsOfEast let i = index;" class="cards-pile card-canvas">
                                <img id="card-{{card.id}}" [src]="card.imageUrl" alt="card" class="card-format" [ngClass]="{'move-card': card.used}"
                                     style="--offsetx: {{card.x}}px; --offsety: {{card.y}}px;">
                            </div>
                        </div>
        </div>
    </div>
<!--    <div class="card-columns">-->
<!--        <div class="card-column done-placeholder">-->
<!--            <div class="cards-row placeholder-w">-->
<!--                <div *ngFor="let card of cardsOfWest let i = index;" class="cards-pile card-canvas">-->
<!--                    <img id="card-{{card.id}}" [src]="card.imageUrl" alt="card" class="card-format" [ngClass]="{'move-card': card.used}"-->
<!--                         style="&#45;&#45;offsetx: {{card.x}}px; &#45;&#45;offsety: {{card.y}}px;">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="card-column second-column">-->
<!--            <div class="cards-row placeholder-n">-->
<!--                <div *ngFor="let card of cardsOfNorth let i = index;" class="cards-pile card-canvas">-->
<!--                    <img id="card-{{card.id}}" [src]="card.imageUrl" alt="card" class="card-format" [ngClass]="{'move-card': card.used}"-->
<!--                         style="&#45;&#45;offsetx: {{card.x}}px; &#45;&#45;offsety: {{card.y}}px;">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="cards-row placeholder-n">-->
<!--                <div class="card-placeholder north">-->
<!--                    <div class="way">N</div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="cards-row">-->
<!--                <div class="card-placeholder west">-->
<!--                    <div class="way">W</div>-->
<!--                </div>-->
<!--                <div class="card-placeholder east">-->
<!--                    <div class="way">O</div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="cards-row">-->
<!--                <div class="card-placeholder south">-->
<!--                    <div class="way">Z</div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="cards-row placeholder-player">-->
<!--                <div *ngFor="let card of placeholdersZ let i = index;" class="card-canvas">-->
<!--                    <button id="card-{{card.id}}" class="card-button" [ngClass]="{'move-card': card.used}"-->
<!--                            style="background-image: url({{card.imageUrl}}); &#45;&#45;offsetx: {{(card.x || 0) - i*offsetSouthXdiff}}px; &#45;&#45;offsety: {{card.y}}px;"-->
<!--                            [disabled]="isCardDisabled(card)" (click)="cardClick(card)"></button>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="cover-done-pile-player"></div>-->
<!--            <div class="cards-row placeholder-s">-->
<!--                <div class="cards-pile card-canvas card-format"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="card-column done-placeholder">-->
<!--            <div class="cover-done-pile">-->
<!--                <div class="score-board">-->
<!--                    <p style="width: 100%; text-align: center">Ronde {{round}} van 16</p>-->
<!--                    <table>-->
<!--                        <col>-->
<!--                        <col>-->
<!--                        <col>-->
<!--                        <tr>-->
<!--                            <td>Troef</td>-->
<!--                            <td class="troef-symbol">{{troefSymbol}}</td>-->
<!--                            <td></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th></th>-->
<!--                            <th>N/Z</th>-->
<!--                            <th>O/W</th>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Score</td>-->
<!--                            <td>{{scoreNorthSouth}}</td>-->
<!--                            <td>{{scoreEastWest}}</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Roem</td>-->
<!--                            <td>{{roemNorthSouth}}</td>-->
<!--                            <td>{{roemEastWest}}</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Totaal</td>-->
<!--                            <td>{{scoreNorthSouth + roemNorthSouth}}</td>-->
<!--                            <td>{{scoreEastWest + roemEastWest}}</td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </div>-->
<!--                <br>-->
<!--                <div [innerHtml]="message"></div>-->
<!--            </div>-->
<!--            <div class="cards-row placeholder-e">-->
<!--                <div *ngFor="let card of cardsOfEast let i = index;" class="cards-pile card-canvas">-->
<!--                    <img id="card-{{card.id}}" [src]="card.imageUrl" alt="card" class="card-format" [ngClass]="{'move-card': card.used}"-->
<!--                         style="&#45;&#45;offsetx: {{card.x}}px; &#45;&#45;offsety: {{card.y}}px;">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
<div class="south-home">
    <div class="cards-row placeholder-player">
        <div *ngFor="let card of placeholdersZ; let i = index;" class="card-canvas">
            <button id="card-{{card.id}}" class="card-button" [ngClass]="{'move-card': card.used}"
                    style="background-image: url({{card.imageUrl}}); --offsetx: {{(card.x || 0) - i*offsetSouthXdiff}}px; --offsety: {{card.y}}px;"
                    [disabled]="isCardDisabled(card)" (click)="cardClick(card)"></button>
        </div>
    </div>
</div>
<div class="card-format south-me" style="visibility: hidden; height: 0em !important;">
    <div class="cards-row placeholder-s">
        <div class="cards-pile card-canvas card-formatX"></div>
    </div>
</div>

