<div id="main" class="main">
    <button *ngIf="showingFullScreen()" class="full-screen-button" (click)="openFullscreen()">Klik hier voor volledig scherm</button>

    <div class="error-popup" [ngClass]="{'show': errorMessage}">
        <span>Fout melding. Er iets mis gegaan. Waarschuw direct de programmeur.</span>
        <p [innerHTML]="errorMessage"></p>
        <button (click)="closeErrorPopup()">Sluit melding</button>
    </div>

    <div class="confirm-trump" [ngClass]="{'show': numberOfPlayed == -1}">
        <span>Wil je {{trumpSymbol}} spelen?</span>
        <div>
            <button (click)="acceptTrump(false)">Nee, ik pas</button>
            <button (click)="acceptTrump(true)">Ja, ik speel</button>
        </div>
    </div>

    <div class="choose-another-trump" [ngClass]="{'show': numberOfPlayed == -3}">
        <span>Kies een andere troef dan {{trumpSymbol}}</span>
        <div>
            <button *ngFor="let trumpNr of [1,2,3]" (click)="selectAnotherTrump((trumpNr + trumpSuitNr) % 4)"  class="troef-symbol">
                {{SUITS[(trumpNr + trumpSuitNr) % 4].symbol}} {{(trumpNr + trumpSuitNr) % 4}}
            </button>
        </div>
    </div>

    <div class="confirm-trump" [ngClass]="{'show': gameOver}">
        <span>Einde spel. {{northSouthTotalScore > eastWestTotalScore ? 'Noord/Zuid' : 'Oost/West'}} heeft gewonnen!</span>
        <div>
            <button (click)="startNewGame()">Nieuw spel</button>
        </div>
    </div>

    <div class="score-board">
        <div>Ronde {{round}} van 16</div>
        <div>Rondespeler: {{PlayerNames[roundPlayer]}}</div>
        <div [ngClass]="{'hidden': playingPlayer < 0}">Speler {{PlayerNames[playingPlayer]}} speelt.</div>
        <table>
            <col>
            <col>
            <col>
            <tr>
                <td>Troef</td>
                <td class="troef-symbol">{{trumpSymbol}}</td>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <th>N/Z</th>
                <th>O/W</th>
            </tr>
            <tr>
                <td>Score</td>
                <td>{{northSouthRoundScore}}</td>
                <td>{{eastWestRoundScore}}</td>
            </tr>
            <tr>
                <td>Roem</td>
                <td>{{northSouthRoundKudos}}</td>
                <td>{{eastWestRoundKudos}}</td>
            </tr>
            <tr class="total">
                <td>Totaal</td>
                <td>{{northSouthTotalScore}}</td>
                <td>{{eastWestTotalScore}}</td>
            </tr>
        </table>
        <div [innerHtml]="message"></div>
    </div>

    <div class="score-popup" [ngClass]="{'show': numberOfPlayed == 4}">
        <span>Deze slag is voor {{battleWinner}} met {{battleScore}} punten</span>
        <span *ngIf="kudoScore > 0"> en {{kudoScore}} roem</span>.
    </div>

    <div class="score-popup" [ngClass]="{'show': endOfRound}" [innerHtml]="roundWinnerText"></div>

    <div class="play-field">
        <div class="side-column">
            <div class="west-home">
                            <div class="cards-row placeholder-w">
                                <div *ngFor="let card of cardsOfPlayers[3] let i = index;" class="cards-pile card-canvas">
                                    <div *ngIf="!card.used" class="card-back-format card-background back-card-margin-top"
                                         style="--index: {{i-7}}; position: absolute; z-index: 50;"></div>
                                    <img id="card-{{card.id}}" [src]="card.imageUrl" alt="card" class="card-format" [ngClass]="{'move-card': card.used}"
                                         style="--offsetx: {{card.x}}px; --offsety: {{card.y}}px;">
                                </div>
                            </div>
            </div>
        </div>
        <div class="middle-column">
            <div class="north-home">
                            <div class="cards-row placeholder-n">
                                <div *ngFor="let card of cardsOfPlayers[0] let i = index;" class="cards-pile card-canvas">
                                    <div *ngIf="!card.used" class="card-back-format card-background back-card-margin-left"
                                         style="--index: {{i-7}}; position: absolute; z-index: 50;"></div>
                                    <img id="card-{{card.id}}" [src]="card.imageUrl" alt="card" class="card-format" [ngClass]="{'move-card': card.used}"
                                         style="--offsetx: {{card.x}}px; --offsety: {{card.y}}px;">
                                </div>
                            </div>
            </div>
            <div class="center-area">
                <div class="card-format north-play">
                                    <div class="card-placeholder north">
                                        <div *ngIf="numberOfPlayed < 0 && playersPlay[0] != undefined" class="pass-message">
                                            Ik {{playersPlay[0] ? 'speel' : 'pas'}}
                                        </div>
                                        <div class="way" [ngClass]="{'playing': battlePlayer === 0}">N</div>
                                    </div>
                    <div style="width: 100%; text-align: center;">{{showValueOfCard(0)}}</div>
                </div>
                <div class="east-west-play">
                    <div class="card-format">
                                        <div class="card-placeholder west">
                                            <div *ngIf="numberOfPlayed < 0 && playersPlay[3] != undefined" class="pass-message">
                                                Ik {{playersPlay[3] ? 'speel' : 'pas'}}
                                            </div>
                                            <div class="way" [ngClass]="{'playing': battlePlayer === 3}">W</div>
                                        </div>
                        <div style="width: 100%; text-align: center;">{{showValueOfCard(3)}}</div>
                    </div>
                    <div class="card-format">
                                        <div class="card-placeholder east">
                                            <div *ngIf="numberOfPlayed < 0 && playersPlay[1] != undefined" class="pass-message">Ik {{playersPlay[1] ? 'speel' : 'pas'}}</div>
                                            <div class="way" [ngClass]="{'playing': battlePlayer === 1}">O</div>
                                        </div>
                        <div style="width: 100%; text-align: center;">{{showValueOfCard(1)}}</div>
                    </div>
                </div>
                <div class="card-format south-play">
                                    <div class="card-placeholder south">
                                        <div *ngIf="numberOfPlayed < 0 && playersPlay[2] != undefined" class="pass-message">Ik {{playersPlay[2] ? 'speel' : 'pas'}}</div>
                                        <div class="way" [ngClass]="{'playing': battlePlayer === 2}">Z</div>
                                    </div>
                    <div style="width: 100%; text-align: center;">{{showValueOfCard(2)}}</div>
                </div>
            </div>
        </div>
        <div class="side-column">
            <div class="west-home">
                            <div class="cards-row placeholder-e">
                                <div *ngFor="let card of cardsOfPlayers[1] let i = index;" class="cards-pile card-canvas">
                                    <div *ngIf="!card.used" class="card-back-format card-background back-card-margin-top"
                                         style="--index: {{i-7}}; position: absolute; z-index: 50;"></div>
                                    <img id="card-{{card.id}}" [src]="card.imageUrl" alt="card" class="card-format" [ngClass]="{'move-card': card.used}"
                                         style="--offsetx: {{card.x}}px; --offsety: {{card.y}}px;">
                                </div>
                            </div>
            </div>
        </div>
    </div>
    <div class="south-home">
        <div class="cards-row placeholder-player">
            <div *ngFor="let card of cardsOfPlayers[2]; let i = index;" class="card-canvas">
                <button id="card-{{card.id}}" class="card-button" [ngClass]="{'move-card': card.used}"
                        style="background-image: url({{card.imageUrl}}); --offsetx: {{(card.x || 0) - i*offsetSouthXdiff}}px; --offsety: {{card.y}}px;"
                        [disabled]="isCardDisabled(card)" (click)="cardClick(card)"></button>
            </div>
        </div>
    </div>
    <div class="card-format south-me" style="visibility: hidden; height: 0em !important;">
        <div class="cards-row placeholder-s">
            <div class="cards-pile card-canvas card-formatX"></div>
        </div>
    </div>
</div>
