<div class="playField">
    <div class="card-columns">
        <div class="card-column">
            <div class="cards-row placeholder-w">
                <div *ngFor="let card of cardsOfWest let i = index;" class="cards-pile card-canvas">
                    <img id="card-{{card.id}}" [src]="card.imageUrl" alt="card" class="card-format" [ngClass]="{'move-card': moveCard[card.id]}"
                         style="--offsetx: {{card.x}}px; --offsety: {{card.y}}px"/>
                </div>
            </div>
        </div>
        <div class="card-column second-column">
            <div class="cards-row placeholder-n">
                <div *ngFor="let card of cardsOfNorth let i = index;" class="cards-pile card-canvas">
                    <img id="card-{{card.id}}" [src]="card.imageUrl" alt="card" class="card-format" [ngClass]="{'move-card': moveCard[card.id]}"
                         style="--offsetx: {{card.x}}px; --offsety: {{card.y}}px"/>
                </div>
            </div>
            <div class="cards-row placeholder-n">
                <div class="card-placeholder north">
                    <div class="way">N</div>
                </div>
            </div>
            <div class="cards-row">
                <div class="card-placeholder west">
                    <div class="way">W</div>
                </div>
                <div class="card-placeholder east">
                    <div class="way">O</div>
                </div>
            </div>
            <div class="cards-row">
                <div class="card-placeholder south">
                    <div class="way">Z</div>
                </div>
            </div>

            <div class="cards-row placeholder-player">
                <div *ngFor="let card of placeholdersZ let i = index;" class="card-canvas">
                    <img id="card-{{card.id}}" [src]="card.imageUrl" alt="card" class="card-format" [ngClass]="{'move-card': moveCard[card.id]}"
                         style="--offsetx: {{(card.x || 0) - i*offsetX2X}}px; --offsety: {{card.y}}px"
                         (click)="cardClick(card)"/>
                </div>
            </div>

            <div class="cards-row placeholder-s">
                <div class="cards-pile card-canvas card-format"></div>
            </div>
        </div>
        <div class="card-column">
            <div class="cards-row placeholder-e">
                <div *ngFor="let card of cardsOfEast let i = index;" class="cards-pile card-canvas">
                    <img id="card-{{card.id}}" [src]="card.imageUrl" alt="card" class="card-format" [ngClass]="{'move-card': moveCard[card.id]}"
                         style="--offsetx: {{card.x}}px; --offsety: {{card.y}}px">
                </div>
            </div>
        </div>
    </div>
</div>

