@use "sass:math";

$available_width: 95vw;
$available_height: 95vh;

$body_height: min($available_height, $available_width / 1.3);
$body_width: min($available_height * 1.3, $available_width);

$card_height: calc($body_height / 6);
$card_width: calc($card_height / 1.452);

$body_background_color: #778877;

$back-card-margin-top: calc($card_height / 8);
$back-card-margin-left: calc($card_width / 8);

body {
    background-color: $body_background_color;
    width: $body_width;
    height: $body_height;

    div.main {
        padding-left: calc($body_width/10);
        background-color: $body_background_color;
    }

    div.side-column {
        height: calc($body_height - ($body_height/2 - $card_height/2) - $card_height);
        width: $card_width;
//        background-color: darkgreen;
        padding-top: calc($body_height/2 - $card_height/2);
    }

    div.west-home {
        height: $card_height;
        width: $card_width;
//        background-color: burlywood;
        //    margin-left: calc($card_width * -1);
        //    padding-top: calc($body_height / 2);
    }

    div.middle-column {
        height: 100%;
        width: calc($body-width - 2*$card_width);
//        background-color: darkcyan;
        //display: flex;
        //justify-content: center;
    }

    div.center-area {
        height: calc(3*$card_height);
        width: calc(4*$card_width);
        margin-left: calc($body_width/2 - 3.5*$card_width);
        margin-top: calc($card_height/2);
//        background-color: darkorchid;
    }
}

.back-card-margin-top {
    margin-top: calc(var(--index) * $back-card-margin-top);
}

.back-card-margin-left {
    margin-left: calc(var(--index) * $back-card-margin-left);
}


div.play-field {
    width: calc(0.9*$body_width);
    height: calc($body_height - $card_height);
    display: flex;
    //margin-top: -55vh;
    //margin-left: -8vw;
}

div.north-home {
    width: $card_width;
    height: $card_height;
    margin-left: calc($body_width/2 - 2*$card_width);
//    background-color: cornflowerblue;
}

div.south-home {
    width: calc(0.9*$body_width);
    height: $card_height;
//    margin-top: calc($body_height - 5.5*$card_height);
//    margin-left: calc($body_width/2 - 1.5*$card_width);
//    background-color: cornflowerblue;
}

div.south-me {
    margin-left: calc($body_width/2 - 1.5*$card_width);
}

div.north-play, div.south-play {
    margin-left: calc(50% - 0.5*$card_width);
}

div.card-columns {
    display: flex;
    align-items: center;
    justify-content: center;

    > .card-column {
        &.done-placeholder {
            margin-top: $card_height;
        }
    }

    > .second-column {
        width: $body_width;
    }
}

div.cards-pile {
    position: absolute;
}

div.cards-row {
    display: flex;
    justify-content: space-around;
}

div.card-placeholder {
    text-align: center;
    width: $card_width;
    height: $card_height;
    border-radius: 5%;
    background-color: #667766;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

div.way {
    width: 10vw;
    &.playing {
        font-size: xxx-large;
        font-weight: bold;
        color: white;
    }
}

.card-format {
    width: $card_width;
    height: $card_height;
    border-radius: 5%;
}

.card-back-format {
    width: calc($card_width - 10px);
    height: calc($card_height - 10px);
    border: #556677 double 5px;
    border-radius: 5%;
}

.card-background {
    --stripe: #445566;
    --bg: #778899;

    background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--bg) 25%, transparent 25%),
    linear-gradient(45deg, var(--bg) 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: var(--stripe);

}

button.card-button {
    width: $card_width;
    height: $card_height;
    border: none;
    border-radius: 5%;
    background-size: cover;

    &:disabled {
        opacity: 60%;
    }
}

div.cover-done-pile {
    position: absolute;
    width: calc($card_width * 2);
    height: calc($card_height * 2);
    z-index: 8;
    background-color: $body_background_color;
}

div.cover-done-pile-player {
    position: absolute;
    z-index: 10;
    width: 95vw;
    height: $card_height;
    margin-top: 10vh;
    background-color: $body_background_color;
}

.fill-color {
    border: black solid var(--offsetx);
}

.move-card {
    transition: transform 0.8s;
    transform: translate(var(--offsetx), var(--offsety));
}

button.full-screen-button {
    position: absolute;
    top: 1em;
    left: 1em;
    height: 5em;
    width: 15em;
    border-radius: 0.5em;
    border: 0;
    background-color: darkgray;
    text-align: center;
    align-content: space-around; font-size: large;
}

div.score-board {
    position: absolute;
    z-index: 51;
    top: calc($body_height/40);
    left: calc(0.8*$body_width);
    height: calc(0.3*$body_height);
    width: calc($body_width/7);
    background-color: #88BB88;
    border-radius: 3%;
    padding: 1%;
    font-size: clamp(1px, 1.4vw, 2vh);

    > .round-nr {
        width: 100%;
        text-align: center;
    }

    > table {
        width: 100%;
        margin-bottom: calc(0.03*$available_height);
        td {
            &:nth-child(2), &:nth-child(3) {
                text-align: center;
            }
            &.troef-symbol {
                font-size: xxx-large;
            }
        }
    }
}
