@use "sass:math";

$available_width: 95vw;
$available_height: 95vh;

$body_width: $available_width;
$body_height: $available_height;

$card_height: math.div($body_height, 6);
$card_width: math.div($card_height, 1.452);

$body_background_color: #778877;

body {
    background-color: $body_background_color;
    width: $body_width;
    height: $body_height;
    overflow-y: hidden;
}

div.card-columns {
    display: flex;
    align-items: center;
    justify-content: center;

    > .card-column {
        &.done-placeholder {
            margin-top: $card_height;
        }
    }

    > .second-column {
        width: $available_width;
    }
}

div.playField {
    width: $available_width;
    height: $available_height;
    margin-top: -55vh;
    margin-left: -8vw;
}

div.cards-pile {
    position: absolute;
}

div.cards-row {
    display: flex;
    justify-content: space-around;

    &.placeholder-n {
        margin-top: 20vw;
    }
    &.placeholder-player {
        width: 65vw;
        margin: 5vh 0 0 10vh;
        > .card-canvas {
            margin: 0 0.5vw;
        }
    }
    &.placeholder-w, &.placeholder-e {
        width: $card_width;
        margin-top: 6vw;
    }

    &.placeholder-s {
        margin-top: 10vh;
    }
}

div.card-placeholder {
    text-align: center;
    width: $card_width;
    height: $card_height;
    border-radius: 5%;
    background-color: #667766;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

div.way {
    width: 10vw;
}

.card-format {
    width: $card_width;
    height: $card_height;
}

button.card-button {
    width: $card_width;
    height: $card_height;
    border: none;
    border-radius: 5%;
    background-size: cover;

    &:disabled {
        opacity: 60%;
    }
}

div.cover-done-pile {
    position: absolute;
    width: $card_width * 2;
    height: $card_height * 2;
    z-index: 8;
    background-color: $body_background_color;
}

div.cover-done-pile-player {
    position: absolute;
    z-index: 10;
    width: 95vw;
    height: $card_height;
    margin-top: 10vh;
    background-color: $body_background_color;
}

.fill-color {
    border: black solid var(--offsetx);
}

.move-card {
    transition: transform 0.8s;
    transform: translate(var(--offsetx), var(--offsety));
}

div.score-board {
    height: 100%;
    width: 100%;
    background-color: #88BB88;
    border-radius: 3%;
    padding: 5%;
    font-size: larger;

    > table {
        width: 100%;
        tr {
            &:first-child {
                td {
                    background-color: yellow;
                    margin-bottom: 10%;
                    padding-bottom: 10%;
                }
            }
        }
        th {
            padding: 0 5%;
        }
        td {
            width: 80%;
            margin: 0 10%;
            &:nth-child(1) {
                width: 20%;
            }
            &:nth-child(2), &:nth-child(3) {
                width: 40%;
                padding: 0  10%;
                text-align: center;
            }
            &.troef-symbol {
                font-size: xxx-large;
            }
        }
    }
}
