@use "sass:math";

$available_width: 95vw;
$available_height: 95vh;

$body_width: $available_width;
$body_height: $available_height;

$card_height: math.div($body_height, 6);
$card_width: math.div($card_height, 1.452);

$body_background_color: #778877;

body {
    background-color: $body_background_color;
    width: $body_width;
    height: $body_height;
}

div.card-columns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    > .card-column {
        &.done-placeholder {
            margin-top: 12.5%;
        }
    }

    > .second-column {
        width: 100%;
    }
}

div.playField {
    width: 100%;
    height: 90%;
    margin-top: -35%;
    margin-left: -9%;
}

div.cards-pile {
    position: absolute;
}

div.cards-row {
    width:100%;
    display: flex;
    justify-content: space-around;

    &.placeholder-n {
        margin-top: 25%;
    }
    &.placeholder-player {
        margin-top: 5%;
        > .card-canvas {
            margin: 0 0.5%;
        }
    }
    &.placeholder-w, &.placeholder-e {
        width: $card_width;
    }

    &.placeholder-s {
        margin-top: 1%;
    }
}

div.card-placeholder {
    text-align: center;
    width: $card_width;
    height: $card_height;
    border-radius: 5%;
    background-color: #667766;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

div.way {
    width: 100%;
}

div.cards-area {
    width: 100%;
}

.card-format {
    width: $card_width;
    height: $card_height;
}

div.cover-done-pile {
    position: absolute;
    width: $card_width * 2;
    height: $card_height * 2;
    margin: -1%;
    z-index: 8;
    background-color: $body_background_color;
}

div.cover-done-pile-player {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: $card_height;
    padding-top: 1%;
    background-color: $body_background_color;
}

.fill-color {
    border: black solid var(--offsetx);
}

.move-card {
    transition: transform 0.8s;
    transform: translate(var(--offsetx), var(--offsety));
}

div.score-board {
    width: 100%;
    height: 50%;
    background-color: #889988;
    border-radius: 3%;
    padding: 5%;

    > table {
        width: 80%;
        td {
            width: 55%;
            margin: 0 10%;
            padding: 0 10%;
            &:nth-child(2), &:nth-child(3) {
                width: 20%;
                text-align: center;
                padding: 0 0%;
            }
        }
    }
}
